*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse;
    src: url(files/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    min-width: 800px;
    /* margin: 0px auto; */
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.odin-hero{
    min-width: 300px;
    background-color: aquamarine;
    background-image: url("files/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    padding: 100px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.odin-logo img{
    height: 70px;
    margin-left: auto;
}

.odin-logo h1{
    height: 50px;
    margin-right: auto;
    /* margin-top: 20px; */
    font-family: "Norse", "Arial", sans-serif;
    font-size: 3.5rem;
}

.odin-logo{
    display: flex;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.559);
    color: white;
    align-items: center;
}

.footer{
    color: white;
    font-size: .7rem;
    text-align: center;
}

.footer a{
    color: inherit;
}

.rhs{
    width: 450px;
    /* margin: 30px; */
    
}

.content{
    min-width: 500px;
    background-color: #fafafa;
    font-weight: bold;
    font-size: .9rem;
    line-height: 1.4;
    color: #333;
    padding: 40px 0;
}

.hero-text{
    padding: 2px 0 5px 30px;
}

.hero-text > p{
    margin-bottom: 30px;
}

.form-section{
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 0px 3px 1px 0px #333;
    padding: 2px 0 5px 30px;
}

form > div{
    display: flex;
    gap: 20px;
}

.rhs h3{
    font-size: inherit;
    color: inherit;
}

.button-section{
    padding: 2px 0 5px 30px;
}
