*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse;
    src: url(files/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

body{
    min-width: 800px;
    /* margin: 0px auto; */
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.odin-hero{
    min-width: 300px;
    background-color: aquamarine;
    background-image: url("files/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    padding: 100px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.odin-logo img{
    height: 70px;
    margin-left: auto;
}

.odin-logo h1{
    height: 50px;
    margin-right: auto;
    /* margin-top: 20px; */
    font-family: "Norse", "Arial", sans-serif;
    font-size: 3.5rem;
}

.odin-logo{
    display: flex;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.559);
    color: white;
    align-items: center;
}

.footer{
    color: white;
    font-size: .7rem;
    text-align: center;
}

.footer a{
    color: inherit;
}

.rhs{
    width: 450px;
    
}

.content{
    min-width: 500px;
    background-color: #fafafa;
    font-weight: bold;
    font-size: .9rem;
    line-height: 1.4;
    color: #333;
    padding: 40px 0;
}

.hero-text{
    padding: 5px 0 5px 30px;
}

.hero-text > p{
    margin-bottom: 30px;
}

.form-top{
    /* border: 1px solid black; */
    background-color: white;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.219);    
    padding: 5px 0 20px 30px;
}

.form-top > div{
    display: flex;
    gap: 40px;
}

h3{
    font-size: inherit;
    color: inherit;
    margin: 7px 0;
}


.form-top > div > div{
    display: flex;
    flex-direction: column;

}

label {
    font-size: .45rem;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: inherit;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.491);
    border-radius: 3px;
    padding: 3px;
    font-size: .7rem;
    /* display: block; */
}

input:focus {
}

input:valid{
    border: 1.5px solid #046d80;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.114);    

}

input:invalid {
    border: 1.5px solid red;
}

.form-bottom{
    padding: 5px 0 20px 30px;

}

.form-bottom button{
    margin: 20px 0;
    padding: 10px 30px;
    font-size: .7rem;
    color: #fafafa;
    background-color: #596d48;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button + p{
    font-size: .7rem;
    font-weight: 500;
}